@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
h2{
    font-family: "Ubuntu", sans-serif;
}

p{
     font-family: "Roboto", sans-serif;
}

/* Logo */
.logo {
  max-height: 40px;
  height: auto;
  width: auto;
}

/* navegacion de la pagina principal */
/* Enlaces del nav */
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #550603 !important; /* Amarillo Bootstrap */
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 2px;
  background-color: #790e0a;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 80%;
}

@media (max-width: 373px) {
    .navegacion-enlaces{
      justify-content: center;
    }
}
/* Imagenes */
.img-uniform {
  object-fit: cover;
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, filter 0.4s ease;
}
.img-uniform:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Intro text */
.intro-text {
  max-width: 800px;
  font-size: 1rem;
}

/* Tarjetas promocionales */
.promo-card {
  overflow: hidden;
}

/* Centrando enlaces de contactos */

@media (max-width: 249px) {
    .centrar-enlaces{
  justify-content: center;
}
}

@media (max-width: 249px) {
    .boton-enviar{
      width: 100%;
    }
}